# Python
__pycache__/
*.pyc
.venv/
venv/

# Configuración local y secretos
.env

# Bases de datos generadas en ejecución
*.db
*.sqlite3

# Sistema operativo
Thumbs.db
.DS_Store

# Editores
.vscode/
.idea/

# Artefactos de compilación LaTeX
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.fls
*.fdb_latexmk
*.nav
*.snm
*.vrb
*.xdv
